<p>book-list works! </p>
<app-book-card [book]="book"  *ngFor=" let book of bookResponse.content"></app-book-card>

<!--<div class="book-grid">-->
<!--  <mat-grid-list cols="4" rowHeight="200px" gutterSize="16px">-->
<!--    <mat-grid-tile *ngFor="let book of bookResponse.content">-->
<!--      <mat-card>-->
<!--        <img mat-card-image [src]="book.cover" alt="{{book.title}} cover" />-->
<!--        <mat-card-content>-->
<!--          <h3>{{ book.title }}</h3>-->
<!--          <p>{{ book.authorName }}</p>-->
<!--          <p>{{ book.synopsis }}</p>-->
<!--          <p>{{ book.rate}}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button mat-raised-button color="primary">Buy - ${{book.shareable}}</button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--</div>-->
