<p>book-list works! </p>
<span *ngFor="let book of bookResponse.content">{{book.title}}</span>

<div class="book-grid">
  <mat-grid-list cols="4" rowHeight="200px" gutterSize="16px">
    <mat-grid-tile *ngFor="let book of books">
      <mat-card>
        <img mat-card-image [src]="book.coverUrl" alt="{{book.title}} cover" />
        <mat-card-content>
          <h3>{{ book.title }}</h3>
          <p>{{ book.author }}</p>
          <p>{{ book.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Buy - ${{book.price}}</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
