<div class="reg-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
      </div>

      <mat-form-field class="full-width" >
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="registerRequest.firstname" matInput type="name" name="firstname" placeholder="Enter your First Name"
               required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="registerRequest.lastname" matInput name="lname" type="lastname" placeholder="Enter your Last Name"
               required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="registerRequest.email" matInput type="email" name="email" placeholder="ex:- abc@xyz.com" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="registerRequest.password" matInput type="password" name="password" required>
      </mat-form-field>
      <div class="register-link">
        <span>Already having a account..</span>
        <a routerLink="/login" class="register-button">Login</a>
      </div>
      <button mat-raised-button (click)="register()" color="primary" type="submit" class="full-width">Register</button>
    </mat-card-content>
  </mat-card>
</div>

